body {
    background-color: rgb(153, 183, 192);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium';
}


.thead {
    text-align: center;
    border-radius: 20px;
}

#tbody {
    text-align: center;
}